<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Bootstrap -->
        <link rel="stylesheet" href="lib/components/bootstrap/dist/css/bootstrap.min.css"></link>
        <link rel="stylesheet" href="css/<%=appname%>.css"></link>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="context" data-app="<%=appname%>">
        <div class="container">
            <h1><%=appname%></h1>
            <button class="action" data-action="showme">ShowMe</button>
        </div>
        <div style="display:none" class="htmlGenerators">
                <div data-generator="demo1">
                    {content}
                </div>
        <div>
        <script src="lib/components/jquery/dist/jquery.min.js"></script>
        <script src="lib/components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="lib/components/bluebird/js/browser/bluebird.min.js"></script>
        <script src="lib/components/clicker/js/clicker.js"></script>
        <script src="lib/components/h5generator/js/h5generator.js"></script>
        <script src="js/<%=appname%>.js"></script>
        <script>
            $(document).ready(function () {
                <%=appname%>.start();
            });
        </script>
    </body>
</html>